@import "src/styles/variables";
@import "src/styles/breakpoints";

.pagination {
  margin: 10px 0;
  > nav {
    margin-bottom: 20px;
  }
  ul {
    display: flex;

  }
  li {
    list-style-type: none;
    padding: 10px 15px;
    border: 1px solid $gray-400;
    cursor: pointer;

    @include breakpoint-down(mobile) {
      padding: 5px 10px!important;
    }
    &:hover {
      background-color: #f9f9fd;
    }
  }
}

.active {
  background-color: #3e3e59 !important;
  color: white!important;
}