@import "src/styles/variables";
@import "src/styles/breakpoints";


.user_info {
  position: sticky;
  top: 0;
  width: 100%;
  height: 460px;
  padding: 10px 15px;
  border: 1px solid $gray-mix-100;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint-down(tablet) {
    width: 100% !important;
    position: relative;
  }

  input {
    outline: none;
    border: 1px solid $gray-400;
    padding: 4px;
  }

  label {
    font-size: $font-md-14;
  }

  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
  }

  .error_info {
    color: $red;

    > small {
      text-align: center;
    }
  }

  &_password_box {
    position: relative;

    > small {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 55%;
    }
  }

  &_image_box {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #d9d9e0;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background-color: $bg-blue-mix-800;
      opacity: .5;
    }

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    > label {
      position: absolute;
      z-index: 3;
      top: 70%;
      left: 40%;
      font-size: $font-xl-30;

      > span {
        cursor: pointer;
        z-index: 10;
        opacity: .7;
        color: $white;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  button {
    border: none;
    cursor: pointer;
    width: 90px;
    padding: 6px 13px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: $bg-blue-mix-500;
    opacity: .9;

    &:hover {
      opacity: 1;
    }
  }

  .active_border {
    input {
      border: 1.5px solid $blue-mix-300;
    }

    > label {
      color: $blue-mix-500;
    }
  }
}

.other_info {
  position: sticky;
  top: 0;
  width: 100%;
  height: 420px;
  padding: 20px 0;
  border: 1px solid $border-light-200;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint-down(tablet) {
    position: relative;
    width: 100%!important;
    height: auto;
    > h4 {
      font-size: 16px!important;
    }
    > figure {
      width: 140px!important;
      height: 140px!important;
    }
  }


  > figure {
    width: 170px;
    height: 170px;
    margin: 10px auto;

    > img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  > h4 {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
  }

  > p {
    text-align: center;
    font-weight: 500;
  }

  &_date {
    color: gray;
  }

  &_name {
    color: greenyellow;
  }

  &_email {
    color: gray;
  }
}


