@import "src/styles/variables";
@import "src/styles/breakpoints";

.root {
  width: 370px;
  height: auto;
  margin: 20px auto;
  padding: 15px;
  border-radius: 5px;
  background-color: $bg-gray-100;
  border: 1px solid $gray-mix-100;
  box-shadow: 7px 10px 28px 0 rgba(207,207,207,1);

  @include breakpoint-down(tablet) {
    box-shadow: none;
    border-radius: initial;
    width: calc(100% - 8%);
    margin: 90px auto;
    border: 1px solid $gray-mix-200;
  }

  > h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  > small {
    a {
      color: $blue-500;
      opacity: .8;
      &:hover {
        opacity: 1;
      }
    }
  }
  > p {
    margin-top: 10px;
    font-size: $font-md-14;
    color: $gray-400;
    a {
      margin-left: 5px;
      color: $blue-500;
      opacity: .8;
      &:hover {
        opacity: 1;
      }
    }
  }
}