@import "src/styles/breakpoints";
@import "src/styles/variables";

.blog {
  margin:0 calc(100% - 95%);

  &_create {
    display: grid;
    grid-template-columns: 4fr 5fr;
    grid-gap: 20px;

    @include breakpoint-down(tablet) {
      grid-template-columns: 1fr;
    }
  }
  &_button {
    border: none;
    width: 100px;
    height: 40px;
    margin: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: .8;

    border-radius: 10px;
    background-color: $bg-blue-mix-800;
    color: $white;

    &:hover {
      opacity: 1;
    }
  }
}
