@import "src/styles/variables";

.forget-password {
  > form {
    height: 30px;
    width: auto;

    label {
      display: block;
    }
    input {
      outline: none;
      width: 400px;
      height: 100%;
      padding: 2px 4px;
    }

    button {
      border: none;
      cursor: pointer;
      width: 70px;
      height: 100%;
      background-color: #8080f6;
      color: white;

    }
  }

}