@import "src/styles/breakpoints";
.userProfile {
  min-height: 90vh;
  //display: flex;
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-gap: 30px;



  @include breakpoint-down(laptops) {
    margin: 0 20px;
  }

  @include breakpoint-down(tablet) {
    grid-template-columns: 1fr!important;
  }
}
