// background
$bg-blue-mix-900: #18182a;
$bg-blue-mix-850: #1c113f;
$bg-blue-mix-800: #2A2356FF;
$bg-blue-mix-600: #3c2c6b;
$bg-blue-mix-500: #585896;
$bg-blue-mix-400: #8080f6;
$bg-blue-mix-300: #afaff1;
$bg-gray-200: #f3f3f5;
$bg-gray-100: #f6f6f6;


// color
$blue-500: #1E90FFFF;
$blue-mix-800: #313159;
$blue-mix-850: #3c2c6b;
$blue-mix-750: #3f3f6b;
$blue-mix-700: #4f4f94;
$blue-mix-500: #8080f6;
$blue-mix-400: #9191c9;
$blue-mix-300: #afaff1;
$blue-mix-200: #e1e1f6;

$gray-mix-700: #262626;
$gray-mix-500: #545454;
$gray-400: #808080FF;
$gray-mix-200: #B4B4B4FF;
$gray-mix-100: #e8e8e8;
$white: #ffff;
$red: #ff000fff;
$red-mix-200: #775353;



// border color;
$border-light-200: #ceced0;

// font sizes
//$font-sm-8: 8px;
//$font-md-11: 11px;
$font-md-12: 12px;
$font-md-13: 13px;
$font-md-14: 14px;
//$font-md-15: 15px;
$font-md-16: 16px;
$font-md-18: 18px;
$font-lg-20: 20px;
$font-lg-22: 22px;
$font-lg-25: 25px;
$font-xl-30: 30px;
//$font-xl-36: 36px;
//$font-xl-40: 40px;