@import "variables";
@import "spacing";
@import "breakpoints";
@import "flex";
@import "pages/all";


*, *::after, *::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
  @include breakpoint-down(tablet) {
    margin-top: 70px;
  }
}
.active_path {
  text-decoration: underline!important;
  color: black!important;
}

.google_sign_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  margin-bottom: 14px;
  background: #eeeefc;
  border: 1px solid $gray-400;
  opacity: .7;
  &:hover {
    opacity: 1;
  }

  > span {
    margin: 0 22px;
    font-size: $font-md-18;
  }
  svg {
    font-size: $font-lg-25;
  }
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 50vh;
  width: 100%;
}

