@import "src/styles/variables";
@import "src/styles/breakpoints";

.createForm {
  width: 100%;

  .checkValid {
    color: $red !important;
  }

  > div {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    border: 1px solid $gray-mix-200;

    &:not(:first-child) {
      margin-top: 20px;
    }

    > small {
      position: absolute;
      right: 2px;
      bottom: 0;
      color: $gray-400;
    }
  }

  input {
    border: none;
    outline: none;
    width: 100%;
    padding: 5px 50px 5px 10px;
  }

  textarea {
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 80px;
    overflow: hidden;
    padding: 5px 50px 20px 10px;
  }

  select {
    outline: none;
    border: none;
    padding: 5px 30px 5px 10px;
  }
}

.cartHorizon {
  width: 100%;
  height: auto;
  min-height: 150px;
  padding: 4px;
  border: 1px solid $gray-mix-200;

  display: grid;
  grid-template-columns: 3fr 6fr;

  @include breakpoint-down(mobile) {
    grid-template-columns: 1fr;
  }

  &_imageBox {
    position: relative;

    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 170px;
    aspect-ratio: 5/5;

    @include breakpoint-down(mobile) {
      max-width: 100%;
      max-height: 100%;
      aspect-ratio: 11/6;
      img {
        width: 100%;
        height: auto;
      }
    }

    img {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_contentBox {
    position: relative;
    height: auto;
    width: 100%;
    padding: 10px;

    > h2 {
      margin-bottom: 15px;

      a {
        text-transform: capitalize;
        color: $blue-mix-800;
        opacity: .8;

        &:hover {
          opacity: 1;
        }
      }
    }

    > p {
      padding-bottom: 25px;
      text-align: justify;
      word-break: break-all;
      color: $gray-mix-500;
    }

    > div {
      position: absolute;
      bottom: 5px;
      width: calc(100% - 10px);
      height: 20px;

      display: flex;
      justify-content: space-between;

      .blogData {
        color: $blue-mix-500;
      }

      .updateBlog {
        svg {
          font-size: $font-md-18;
          color: $blue-mix-750;
        }
        > a:first-child {
          span {
            position: relative;

            &:hover {
              &::after {
                content: "update";
                position: absolute;
                z-index: 20;
                left: 23px;
                bottom: -23px;
                width: 60px;
                height: auto;
                padding: 2px 0 5px 0;
                text-align: center;
                font-weight: 600;
                color: $gray-mix-700;
                background-color: $blue-mix-200;
              }
            }
          }
        }

        >span:last-child {
          cursor: pointer;
          position: relative;
          margin-left: 14px;
          &:hover {
            &::after {
              content: "delete";
              position: absolute;
              z-index: 20;
              left: 23px;
              bottom: -23px;
              width: 60px;
              height: auto;
              padding: 2px 0 5px 0;
              text-align: center;
              font-weight: 600;
              color: $gray-mix-700;
              background-color: $blue-mix-200;
            }
          }
          svg {
            color: $red-mix-200 !important;

          }
        }
      }
    }

  }
}


.cardBlog {
  width: 100%;
  min-height: 200px;
  border: 1px solid $gray-mix-200;
  padding: 5px;

  &:hover {
    .img {
      transform: scale(1.1);
    }
  }

  > figure {
    width: 100%;
    height: 150px;
    overflow: hidden;

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s ease-in-out;
    }
  }

  .content_box {
    a {
      color: $blue-mix-700 !important;
    }

    > h3 {
      margin: 5px 0;
    }

    .content_date {
      color: $gray-400;
    }
  }
}