@import "src/styles/variables";

.footer {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gray-400;
  background-color: $bg-gray-100;
}