@import "src/styles/breakpoints";
@import "src/styles/variables";

.blog {
  @include breakpoint-down(laptops) {
    margin: 0 20px;
  }

  > hr {
    color: $gray-400;
    margin-bottom: 10px;
  }
  > h3 {
      font-size: $font-lg-25;
      color: $blue-mix-700;
  }

  img {
    width: 100%;
    height: auto;
  }

  > h1 {
    margin: 20px 0;
    text-align: center;
    font-size: $font-xl-30;
    color: $gray-mix-500;
  }

  &_date {
    text-align: right;
    margin-bottom: 40px;

    @include breakpoint-down(mobile) {
      text-align: center!important;
    }

    small:first-child {
      font-size: $font-md-18;
      font-weight: 500;
      color: #444444;
    }
    small:last-child {
      font-size: 16px;
      font-weight: 500;
      color: #6d6dd5;
    }
  }

  .login {
    margin: 20px 0;
    font-size: $font-md-18;
    color: $gray-mix-500;

    > a {
      color: $blue-500;
      text-decoration: underline;
    }
  }

  .spinner {
    width: 50px!important;
    margin: 0 auto;
  }
}