@import "src/styles/variables";
@import "src/styles/breakpoints";

.input {
  display: block;
  width: 100%;
  margin: 5px 0;
  > button {
    border: none;
    cursor: pointer;
    display: block;
    width: 100px;
    margin: 10px 0 10px auto;
    padding: 8px 0;
    border-radius: 6px;
    background-color: $blue-mix-850;
    color: white;
    opacity: .8;
    &:hover {
      opacity: 1;
    }
  }
}



.comment {
  display: flex;
  margin-bottom: 30px;
  @include breakpoint-down(tablet) {
    flex-direction: column;
  }
}

.commentList {
  width: 100%;
  padding: 5px;
  margin: 4px 0;
  border: 1px solid #cecece;

  &_replyBox {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;

    > small:first-child {
      color: $blue-mix-850;
      font-weight: 600;
      text-transform: uppercase;
    }

    > small:last-child {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: $blue-mix-500;

    }

    @include breakpoint-down(mobile) {
      > small:last-child {
        font-size: 8px!important;
        align-self: flex-end;
      }
    }
  }
}




.avatarComment {
  display: flex;
  align-items: flex-start;
  width: 100px;
  height: auto;

  @include breakpoint-up(tablet) {
    flex-direction: column;
    small {
      margin-left: 0!important;
    }
  }

  @include breakpoint-down(mobile) {
    width: auto!important;
    > img {
      width: 40px!important;
      height: 40px!important;
    }
    > small {
      font-size: $font-md-16!important;
    }
  }

  > img {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    object-fit: cover;

  }

  > small {
    font-size: $font-lg-22;
    margin-left: 10px;
  }
}




.avatarReply {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-left: 10px;


  &_imageBox {
    display: flex;
    > img {
      border-radius: 50%;
      height: 45px;
      width: 45px;
      object-fit: cover;
      @include breakpoint-down(mobile) {
        height: 33px;
        width: 33px;
      }
    }
    > div {
      display: flex;
      flex-direction: column;
      margin-right: 10px;


      > small:first-child {
        > a {
          color: $gray-400!important;
        }
        font-size: $font-md-18;
        font-weight: 500;
      }
      > small:last-child {
        display: flex;
        font-size: $font-md-16;
        white-space: nowrap;
        color: $blue-mix-500 !important;
        > a {
          margin-left: 6px;
          color: #1c8c02;
        }
      }

      small {
        font-size: $font-md-18;
        text-align: end;

        @include breakpoint-down(mobile) {
          font-size: $font-md-12!important;
        }
      }
    }
  }
}


.delIcon {
  cursor: pointer;
  margin: 0 10px;
  font-size: $font-lg-20;
  color: $red-mix-200;
}

.editIcon {
  font-size: $font-lg-20;
  cursor: pointer;
  color: #6c6c79 !important;
}

