@import "src/styles/variables";

.root {
  width: 100%;
  height: auto;

  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 30px;
    }

    > label {
      font-size: $font-md-14;
      color: $gray-mix-500;
    }
    > input {
      outline: none;
      padding: 5px;
    }
  }

  .password_box {
    position: relative;
    > small {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 25%;
    }
  }

  > button {
    border: none;
    cursor: pointer;
    width: 70px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 6px;
    font-weight: 600;
    opacity: .9;
    background-color: $bg-blue-mix-300;

    &:hover {
      opacity: 1;
    }
  }
  .active_color {
    input {
      border: 1.5px solid $bg-blue-mix-300;
    }
    > label {
      color: $bg-blue-mix-400;
    }
  }
}